  
  .data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10101c;
  color:#526F80;
  width: 100vw;
  padding: 4rem;
  gap: 15rem;
}

.data-container form {
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5rem;
  background-color:rgba(45, 62, 72, 0.5);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  width: 70%;
}

.Createform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.data-container form input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: none;
  
}
.data-container form input::placeholder {
  color: #526F80;
  
}

.btnform {
  width: auto;
  background-color: #526F80 ;
  padding: 0.5rem;
  border: 1px solid #526F80 ;
  border-radius: 0.5rem;
  color:#10101C;
}
.data-container form button:hover{
  background-color: #10101C;
  color: #526F80;
}


.enemycard {
  display: flex;
flex-wrap: wrap;
  border: 2px solid hsl(202, 22%, 41%);
  border-radius: 0.5rem;
  padding: 1rem;

  
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.918);
  z-index: 999;

  
}

.editform {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#526F80;
  border-radius: 5%;
gap: 2rem;
  width: 50%;
  height: 90%;
  
}
.editform h2{
  color: #163435;
  font-size: 1.8rem;
}

.editform > form {
  display: flex;
  justify-content: center;
  align-items: center;
gap: 2rem;
flex-wrap: wrap;
  
}

.editform > form > input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #526F80;
  color:#10101c;
}
.editform button{
border: #163435;
}

.enemies-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
